.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 10px;
  min-block-size: 668px;
  block-size: 100vh;
}

.footer__main-title {
  color: var(--main-title-color);
  font-weight: 700;
  font-size: var(--accent-heading-fs-mobile);
  line-height: 95.7px;
  letter-spacing: 0em;
  text-align: left;
  text-shadow: 2px 2px 0 var(--shaddow-main-title-color);
}

@media (width >= 768px) {
  .footer {
    padding: 20px;
  }

  .footer__main-title {
    font-size: var(--accent-heading-fs-desktop);
    line-height: 99px;
  }
}

@media (width >= 1024px) {
  .footer__main-title {
    line-height: 129.53px;
  }
}
