.header {
  display: grid;
  grid-template-rows: 1fr max-content 1fr;
  justify-items: end;
  align-items: center;
  gap: var(--gap);
  padding: 10px;
  min-block-size: 668px;
  block-size: 100vh;
}

.decorative-rec-icon {
  position: absolute;
  visibility: var(--rec-decor-visibility);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  line-height: 25px;
  letter-spacing: 0em;
  inset-block-start: 10px;
  inset-inline-end: 20px;
}

.decorative-rec-icon::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color);
  background: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.header__theme-menu-button {
  border: none;
  padding: 0 13px;
  outline: 1px solid transparent;
  color: var(--theme-menu-colors);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-frame);
}

.header__theme-menu-button:focus {
  box-sizing:border-box;
  border-block-end: 1px solid var(--theme-menu-colors);
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--theme-menu-colors);
  pointer-events: none;
}

.header__main-title {
  justify-self: self-start;
  color: var(--main-title-color);
  font-weight: 700;

  font-size: var(--accent-heading-fs-mobile);
  line-height: 96px;
  letter-spacing: 0em;
  text-align: left;
  text-shadow: 4px 4px 0 var(--shaddow-main-title-color);
}

.header__title {
  max-inline-size: 364px;
}

@media (width >= 768px) {
  .header {
    padding: 20px 20px 20px 0;
  }

  .header__main-title {
    font-size: var(--accent-heading-fs-desktop);
    line-height: 99px;
  }
  .decorative-rec-icon {
    inset-block-start: 20px;
    inset-inline-end: 30px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__main-title {
    line-height: 129.53px;
  }

  .header__title {
    max-inline-size: 491px;
  }
}
