.main {
  margin-block-end: 40px;
  padding: 40px 10px 0 10px;
}

.main__section {
  display: grid;
  gap: 20px;
}
.main__section:not(:last-of-type) {
  margin-block-end: 50px;
}
.main__section-list,
.main__section-subsection {
  display: grid;
  gap: 20px;
}

.main__section-item {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 10px;
}

.main__section-pictures,
.main__section-pictures-list {
  display: grid;
  gap: 10px;
}

.main__image {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

@media (width >= 768px) {
  .main {
    margin-block-end: 60px;
    padding: 60px 20px 0 20px;
  }
  .main__section {
    grid-template-columns: 236px 1fr;
  }
  .main__section:not(:last-of-type) {
    margin-block-end: 80px;
  }
  .main__section:nth-of-type(2) {
    grid-template-columns: 1fr;
  }
  .main__section:nth-of-type(2) .subtitle-text-decor {
    max-inline-size: 236px;
  }
  .main__section-pictures {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .main__section-pictures-list {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 20px;
  }
  .pictures-list-item:nth-of-type(1) {
    grid-column: span 2;
  }
  .pictures-list-item:nth-of-type(2) {
    grid-row: span 2;
  }
  .pictures-list-item:nth-of-type(3) {
    grid-row: span 2;
  }
  .pictures-list-item:nth-of-type(5) {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .main__section {
    grid-template-columns: 314.96px 1fr;
  }
  .main__section:nth-of-type(2) .subtitle-text-decor {
    max-inline-size: 314.96px;
  }
  .main__section:nth-of-type(2) .main__section-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .main__section-pictures {
    grid-template-columns: 1fr;
  }
}