/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  --page-background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --lines-decorations: #ff0070;
  --theme-menu-colors: #ff0070;
  --text-color: #f1b2ce;
  --hover-frame: rgba(255, 0, 112, 0.4);
  --main-title-color: #db00ff;
  --shaddow-main-title-color: #ff0070;
  --text-color-alt: #000028;
  --bg-color: #000028;
  --header-logo-text-color: #db00ff;
  --title-bg-color: #ff0070;
  --rec-decor-visibility: visible;

  --subtitle-color: #ff0070;
  --paragraph-color: #f1b2ce;
  --link-color: #ff0070;
}
