/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --page-background-image: url("../images/cover-image-light.png");
  --accent-color: #ffc2e6;
  --lines-decorations: #353430;
  --theme-menu-colors: #353430;
  --text-color: #f1b2ce;
  --hover-frame: rgba(50, 49, 45, 0.4);
  --main-title-color: #ffc2e6;
  --shaddow-main-title-color: #ff8dcb;
  --text-color-alt: #353430;
  --bg-color: #fff;
  --header-logo-text-color: #db00ff;
  --title-bg-color: #ff8dcb;
  --rec-decor-visibility: hidden;

  --subtitle-color: #353430;
  --paragraph-color: #353430;
  --link-color: #ff8dcb;
}
@media (width >= 1024px) {
  :root .theme_light {
    --shaddow-main-title-color: #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --page-background-image: url("../images/cover-image-light.png");
    --accent-color: #ffc2e6;
    --lines-decorations: #353430;
    --theme-menu-colors: #353430;
    --text-color: #f1b2ce;
    --hover-frame: rgba(50, 49, 45, 0.4);
    --main-title-color: #ffc2e6;
    --shaddow-main-title-color: #ff8dcb;
    --text-color-alt: #353430;
    --bg-color: #fff;
    --header-logo-text-color: #db00ff;
    --title-bg-color: #ff8dcb;
    --rec-decor-visibility: hidden;

    --subtitle-color: #353430;
    --paragraph-color: #353430;
    --link-color: #ff8dcb;
  }

  @media (width >= 1024px) {
    :root {
      --shaddow-main-title-color: #ff0070;
    }
  }
}
